.hero {
  @include wrapper();
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media(max-width: 768px) {
    flex-direction: column;   
    position: relative;
  }
  
  @media(max-width: 480px) {
    padding-top: 0;
  }
  
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    
    & img {
      width: 100%;
    }
  }
  
  .content {
    padding-right: 2rem;
  }
  
  &-img-container {
    width: 50%;
    padding: 2rem 0;
    
    @media(max-width: 768px) {
      width: 100%;
      padding: 2rem 0;
    }
  }
  
  &-img {
    width: 100%;
    padding-top: 1rem;
    display: block;
    margin: 0 auto;
    
    @media(max-width: 768px) {
      margin: 0;
      width: 80%;
      padding-top: 1rem;
    }
  }
  
  &-cta {
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    background: #f84040;
    color: #fff;
    margin: 1rem 0;
    font-size: 1rem;
    border-radius: 1px;
    margin: 3rem 0 2rem 0;
    display: inline-block;
    text-decoration: none;
    
    &:hover {
      background: #e23a3a;
    }
  }
  
  
}