.update {
  padding: 1rem 0 2rem 0;
  &:not(:last-child) {
    border-bottom: 1px solid #eaeaea;
  }
  
  &-date {
    display: block;
    font-weight: 700;
  }
  
  &-rating {
    color: #f84040;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 4px;
    vertical-align: sub;
    padding-left: 4px;
  }
  
  &-notes {
    list-style-type: disc;
    margin: .5rem 0;
  }
}